@import '../../../styles/variables.scss';

.dpStyles {
  &__input {
    width: 100%;
    padding: 11px 8px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $border;
    border-radius: 3px;
    font-size: 12px;
    color: $main-gray;
    outline: none;
  }
  &__wrapper {
    width: 100%;
  }
  &__clear::after {
    font-size: 21px;
    color: black !important;
    background-color: transparent !important;
    // line-height: 16px;
    display: inline;
    vertical-align: baseline;
  }
}
