@import '../../../styles/variables.scss';
@import '../../../styles/_mixins.scss';

.carEdit {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    margin: 28px;
    font-weight: normal;
    font-size: 29px;
    line-height: 33px;
    color: $main-accent;
    @media (max-width: $mobile) {
      margin: 14px;
      font-size: 24px;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 28px 28px 28px;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items:stretch;
      flex-grow: 1;
      overflow-y: auto;
    }
    @media (max-width: $mobile) {
      padding: 0 14px 14px 14px;
    }
  }

  &__customization {
    flex: 1 0 460px;
    margin-left: 20px;
    @media (max-width: $tablet) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  &__preview {
    flex: 0 1 330px;
    min-width: 0;
    @media (max-width: $tablet) {
      flex: 0 1 auto;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}

.preview {
  @include whiteBox;
  @media (max-width: $tablet) {
    display: flex;
  }
  &__col:first-child {
    border-bottom: $borderDelimetr;
    @media (max-width: $tablet) {
      min-width: 0;
      flex: 0 1 50%;
      border-bottom: none;
      border-right: $borderDelimetr;
    }
    @media (max-width: $mobile) {
      border-bottom: $borderDelimetr;
      border-right: none;
    }
  }
  &__col:last-child {
    @media (max-width: $tablet) {
      flex: 0 1 50%;
    }
  }
  &__section {
    padding: 20px 15px;
    & + & { border-top: $borderDelimetr; }
    &:first-child {
      @media (max-width: $tablet) {
        flex: 1 0 33.3%;
      }
    }
  }
  &__carName {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24.5px;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__carCategory {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12.5px;
    line-height: 14px;
    text-align: center;
    color: $gray;
  }
  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: $gray;
  }
  &__discription {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13.5px;
    line-height: 19px;
    color: $main-gray;
    &_placeholder {
      opacity: 0.5;
    }
  }
}

.progress {
  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 13px;
  }
  &__bar {
    height: 7px;
    border-radius: 7px;
    box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  &__fill {
    height: 7px;
    width: 100%;
    transform: translateX(-100%);
    background: $primary;
    border-radius: 4px;
    transition: all ease 0.2s;
  }
}

.customization {
  @include whiteBox;
  padding: 20px 15px;
  &__subtitle {
    margin: 0;
    margin-bottom: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17.5px;
    line-height: 21px;
    color: $main-accent;
  }
  &__layout {
    display: flex;
    margin: 0 -15px 15px -15px;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__col {
    flex-basis: 50%;
    margin: 0 15px;
  }
}

.btnBar {
  display: flex;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  &__col {
    margin-right: 10px;
    @media (max-width: $mobile) {
      margin: 0 auto 10px auto;
    }
    &:last-child {
      margin-left: auto;
      margin-right: 10px;
      @media (max-width: $mobile) {
        margin-right: auto;
        margin-bottom: 0;
      }
    }
  }
}
