@import './variables.scss';

@mixin buttonAction($bg-color: $primary) {
  min-width: 110px;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  color: $white;
  border: none;
  border-radius: 4px;

  background-color: $bg-color;

  transition: all ease 0.2s;
  &:visited {
    background-color: darken($bg-color, 10%);
  }
  &:hover {
    background-color: darken($bg-color, 5%);
  }
  &:active {
    box-shadow: -6px -10px 29px -5px rgba(43, 48, 52, 0.92) inset;
  }
  &:disabled {
    background: $gray;
    cursor: default;
  }
}

@mixin menuElementHover() {
  &:hover {
    background-color: rgba($gray, 0.2);
    // transition: all ease 0.2s;
  }
}

@mixin whiteBox() {
  background-color: $white;
  // padding: 20px 17px;
  border-radius: 9px;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11), 0px 2px 4px rgba(90, 97, 105, 0.12),
    0px 5px 5px rgba(90, 97, 105, 0.06), 0px 3.5px 35px rgba(90, 97, 105, 0.1);
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
