@font-face {
  font-family: 'Helvetica';
  src: local('☺'), url('../assets/fonts/HelveticaRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: local('☺'), url('../assets/fonts/HelveticaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('☺'), url('../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
