$main-accent: #3D5170; // titles
$main-gray: #5A6169; //forms
$gray: #868E96;
$black: #121212;
$white: #ffffff;

$primary: #007BFF;
$alert: #C4183C;
$secondary: #E9ECEF;
$seccess: #0EC261;

$border: #BECAD6;
$bg-admin: #f5f6f8;

$mobile: 767.98px;
$tablet: 1023.98px;
$desktop-min: 1439.98px;
$desktop: 1439.98px;


$borderDelimetr: 1px solid $border;
