@import '../../../styles/variables.scss';
@import '../../../styles/_mixins.scss';

.orders {
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    margin-bottom: 10px;
    list-style: none;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
}

.order {
  display: flex;
  justify-content: space-between;
  &__col {
    display: flex;
    align-items: center;
    &_mainInfo { flex-basis: 420px; }
    &_price { flex-basis: 120px; }
  }
}

.mainInfo {
  padding-left: 140px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 130px auto;
  &__line {
    display: block;
    margin-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
  }
  &__line:last-child {
    margin-bottom: 0px;
  }
  &_accent {
    text-transform: capitalize;
    color: $black;
  }
}



.option {
  &__wrapper {
    flex-direction: column;
  }
  position: relative;
  display: block;
  padding-left: 22px;
  margin-bottom: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  color: $gray;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid $gray;
    border-radius: 2px;
  }
  &_active {
    color: $black;
    &:before {
      border: 1px solid $seccess;
    }
    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 3px;
      width: 10px;
      height: 5px;
      transform: rotate(-45deg);
      border-left: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
}


.price {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  color: $black;
}

.buttons {
  &__btn {
    min-width: 70px;
    height: 21px;
    padding: 0 6px;
    font-size: 11px;
    line-height: 13px;
    color: $main-gray;
    border: 1px solid $border;
    border-left: none;
    background-color: transparent;
    @include menuElementHover;
    transition: all ease 0.2s;
    &:active {
      box-shadow: -6px -10px 29px -5px rgba(43, 48, 52, 0.92) inset;
    }
    &:first-child {
      border-left: 1px solid $border;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    span {
      position: relative;
      display: inline-block;
      padding-left: 17px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__btn_confirm {
    span {
      &:before {
        background-image: url(../../../assets/images/btnActionConfirm.svg);
      }
    }
  }
  &__btn_cancel {
    span {
      &:before {
        background-image: url(../../../assets/images/btnActionCancel.svg);
      }
    }
  }
  &__btn_change {
    span {
      &:before {
        background-image: url(../../../assets/images/btnActionChange.svg);
      }
    }
  }
}
