@import '../../../styles/variables.scss';
@import '../../../styles/_mixins.scss';

.listContentLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 28px;

  &__title {
    margin: 0;
    margin-bottom: 28px;
    font-weight: normal;
    font-size: 29px;
    line-height: 33px;
    color:$main-accent;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include whiteBox;
    min-height: 360px;
  }

  &__filters {
    padding: 20px 15px;
    border-bottom: $borderDelimetr;
  }
  &__content {
    flex-grow: 1;
    padding: 20px 15px;
    overflow-y: auto;
  }
  &__footer {
    padding: 20px 15px;
    border-top: $borderDelimetr;
  }
}

@media (max-width: $mobile) {
  .listContentLayout {
    padding: 14px;
    &__title {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
}
