@import '../../../styles/variables.scss';

.edit__price {
  margin: 0;
  text-align: right;
}

.form {
  display: flex;
  margin: 0 -10px;
  &__col {
    flex: 0 1 33.3%;
    margin: 0 10px;
  }
}

@media (max-width: $mobile) {
  .form {
    flex-wrap: wrap;
    margin: 0;
    &__col {
      flex: 1 0 100%;
      margin: 0;
    }
  }
}
