@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.header {
  display: flex;
  height: 100%;
  background-color: $white;
  &__search {
    flex-grow: 1;
  }
}

.search {
  &__label {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
  }
  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    background: url(../../assets/images/searchIcon.svg) center/cover no-repeat;
  }
  &__field {
    display: block;
    flex-grow: 1;
    padding: 0 8px;
    font-size: 13px;
    line-height: 20px;
    color: $main-gray;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all ease 0.2s;
    &:focus {
      border: 1px solid $black;
    }
  }
}

.showNotify {
  position: relative;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid $border;
  border-left: 1px solid $border;
  transition: all ease 0.2s;
  @include menuElementHover;
  &:active {
    box-shadow: -6px -10px 29px -5px rgba(43, 48, 52, 0.92) inset;
  }
  &__counter {
    position: absolute;
    top: 55%;
    left: 55%;
    width: 14px;
    height: 14px;
    font-size: 9px;
    line-height: 14px;
    color: $white;
    background-color: $alert;
    border-radius: 50%;
  }
}

.select {
  width: 220px;
  [class$='-control'] {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all ease 0.2s;
    @include menuElementHover;
  }
  [class$='-ValueContainer'] {
    height: 100%;
  }
  [class$='-indicatorSeparator'] {
    display: none;
  }
  [class$='-menu'] {
    width: 220px;
  }
  [class$='-menu'] {
    margin-top: 0;
    width: 220px;
    border-radius: 0;
  }
}

.formatOptionLabel {
  &__label {
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
    color: $main-gray;
  }
  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 12px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__icon_lg {
    width: 40px;
    height: 40px;
  }
}
