@import '../../styles/variables.scss';

.layout {
  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: 68px 1fr 68px;
    grid-template-columns: 285px 1fr;
    grid-template-areas:
    "aside topbar"
    "aside article"
    "aside footer";
  }
  &__aside {
    grid-area: aside;
  }
  &__header {
    grid-area: topbar;
  }
  &__article {
    grid-area: article;
    min-height: 0;
  }
  &__footer {
    grid-area: footer;
  }
}
