@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-align: center;
  color: $main-accent;
  margin-bottom: 16px;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: -50%;
    margin-right: 12px;
    width: 45px;
    height: 45px;
    background: url(../../assets/images/appIcon.svg) center/cover no-repeat;
  }
}

.transitionEnter {
  opacity: 0;
  transform: scale(0.9);
}
.transitionEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.login {
  &__outer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__wrapper {
    margin-top: 160px;
    margin-left: 20px;
    margin-right: 20px;
    width: 375px;
    &__enter {
      opacity: 0;
      transform: scale(0.9);
    }
    &__enter_active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }
  }
  &__card {
    @include whiteBox();
    padding: 20px 17px;
  }
  &__title {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 17.5px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    color: $main-accent;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $mobile) {
  .login {
    &__outer {
      align-items: flex-start;
    }
    &__wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__footer {
      flex-direction: column-reverse;
      gap: 15px
    }
  }
}
