@import './styles/variables.scss';

.app {
  height: 100%;
  // border: 1px solid transparent;
}


.routeEnter {
  opacity: 0;
  transform: scale(1.1);
  z-index: 1;
}

.routeEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease, transform 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}
